.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.available-tags {
  align-items: self-end;
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  width: 10em;
  right: 1em;
  top: 1em;
}

.available-tag {
  flex: auto; 
  font-size: 12px;
}
.pointer {
  cursor: pointer 
}
.tags-container {
  height: 750px;
  overflow-y: scroll;
  background: #ffffff7a;
  text-align: right;
  padding: 10px;
}
.leaflet-container {
  height: 100vh;
  width: 100%;
}
.selected {
  font-weight: 700;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}
